<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=ideal viewport, initial-scale=1 user-scalable=0" />
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>各公司药耗分析</title>
<link rel="stylesheet"
	th:href="${'/webapp/css/font-awesome.css?v='+@toolsUtils.version()}">
<link rel="stylesheet"
	th:href="${'/webapp/css/com.css?v='+@toolsUtils.version()}">
<link rel="stylesheet"
	th:href="${'/webapp/css/style.css?v='+@toolsUtils.version()}">
<script th:src="${'/webapp/js/jquery.min.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/pace.min.js?v='+@toolsUtils.version()}"></script>
<script
	th:src="${'/webapp/js/plugin/layer_mobile/layer.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/common.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/jdate.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/dateUtil.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/chart/echarts.min.js'}"></script>
<script th:src="${'/webapp/js/chart/myCharts.js'}"></script>
</head>
<body>
	<div class="main">
		<input type="hidden" id="areaIds" th:value="${areaIds}">
		<div class="nav">
			<div class="go-back" onclick="goBack();">
				<i class="fa fa-chevron-left"></i>
			</div>
			<div class="date">
				<span id="check_date">2020-03-23</span>&nbsp;<i
					class="fa fa-calendar-check-o"></i>
			</div>
			<div class="nav-main">
				<label> <span th:text="${areaGroupName}"></span> <i
					class="fa fa-angle-right"></i>
				</label> <label> 全部 </label>
			</div>
		</div>
		<div class="content center font-size-14">
			<div class="tab_title">
				<ul>
					<li class="tab_on today">当日统计分析</li>
					<li class="total">累计统计分析</li>
					<li class="clear"></li>
				</ul>
			</div>
		</div>
		<div id="hideAndShow_left">
			<div id="todayMedication" style="width: 100%; height: 200px;"></div>
			<div id="todayWaterYield" style="width: 100%; height: 200px;"></div>
			<div id="todayElectricity" style="width: 100%; height: 200px;"></div>
			<div id="todayMud" style="width: 100%; height: 200px;"></div>
		</div>
		<div id="hideAndShow_right" hidden="hidden">
			<div id="totalMedication" style="width: 100%; height: 200px;"></div>
			<div id="totalWaterYield" style="width: 100%; height: 200px;"></div>
			<div id="totalElectricity" style="width: 100%; height: 200px;"></div>
			<div id="totalMud" style="width: 100%; height: 200px;"></div>
		</div>
	</div>
</body>
<style>
.content .tab_title {
	height: 5vh;
	background-color: #4189B8;
}

.content .tab_title ul li {
	float: left;
	line-height: 5vh;
	margin-left: 1vh;
	padding: 0 1vh;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #fff;
}

.content .tab_title ul .tab_on {
	background: #fff;
	color: #000;
}

.content .tab_title ul .clear {
	clear: both;
}
</style>
<script>
$(".content .tab_title ul .today").click(function () {
    $(this).addClass("tab_on");
    $(".content .tab_title ul .total").removeClass("tab_on");

    $("#hideAndShow_left").show();
    $("#hideAndShow_right").hide();
});
$(".content .tab_title ul .total").click(function () {
    $(".content .tab_title ul .today").removeClass("tab_on");
    $(this).addClass("tab_on");

    $("#hideAndShow_left").hide();
    $("#hideAndShow_right").show();

    // 重新加载echarts的尺寸
    echarts.init(document.getElementById("totalMedication")).resize();
    echarts.init(document.getElementById("totalWaterYield")).resize();
    echarts.init(document.getElementById("totalElectricity")).resize();
    echarts.init(document.getElementById("totalMud")).resize();
});
</script>
<script th:inline="javascript">
var dateTime = getCurDate("yyyy-MM-dd");
var areaIds = $("#areaIds").val();
$(function () {
	
	loadData(dateTime);
	
    // 日期格式
    new Jdate({
        el: '#check_date',
        format: 'YYYY-MM-DD',
        beginYear: 2000,
        endYear: 2100,
        value: dateTime,
        confirm: function (date) {
            loadData(date);
        }
    });
    var nav_height = $(".nav").outerHeight();
    //滚动条事件
    $('.main').scroll(function () {
        var top_height = $(this).scrollTop();
        var $this = $("#company_list");
        if (top_height + $this.outerHeight() > nav_height) {
            if (!$this.hasClass("top")) {
                var width_1 = $this.next("tbody").find("tr:eq(0) th").outerWidth();
                var width_2 = $this.next("tbody").find("tr:eq(0) td:eq(0)").outerWidth();
                var width_3 = $this.next("tbody").find("tr:eq(0) td:eq(1)").outerWidth();
                $this.find("th").eq(0).width(width_1);
                $this.find("th").eq(1).width(width_2);
                $this.find("th").eq(2).width(width_3);
                $this.next("tbody").find("tr:eq(0) th").width(width_1);
                $this.next("tbody").find("tr:eq(0) td:eq(0)").width(width_2);
                $this.next("tbody").find("tr:eq(0) td:eq(1)").width(width_3);
                $this.addClass("top");
            }
        } else {
            if ($this.hasClass("top")) {
                $this.removeClass("top");
            }
        }
    });
});

// 指定图表的配置项和数据
var option = {
    title: {
        text: "",
        textStyle: {
            // 文字颜色
            color: '#ccc',
            // 字体风格,'normal','italic','oblique'
            fontStyle: 'normal',
            // 字体粗细 'normal','bold','bolder','lighter',100 | 200 | 300 | 400...
            fontWeight: 'bold',
            // 字体系列
            fontFamily: 'sans-serif',
            // 字体大小
            fontSize: 14
        }
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        top: "8%",
        data: []
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    //    	    toolbox: {
    //    	        feature: {
    //    	            saveAsImage: {}
    //    	        }
    //    	    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: []
    },
    yAxis: {
        type: 'value',
        name: ""
    },
    series: []
};

function loadData(date) {
    var param = {
        date: date,
        areaIds: areaIds
    };

    //药量统计
    $.post("/app/chart/medicineAreaDataToday", param, function (data) {
        console.log(data);
        var myChart_todayMedication = echarts.init(document.getElementById('todayMedication'));
        var option_todayMedication = option;
        option_todayMedication.title.text = "当日药量统计";
        option_todayMedication.legend.data = ["PAC", "PAM阴离子", "PAM阳离子", "复核除磷剂", "NaCLO", "石灰", "葡萄糖", "氯酸钠", "乙酸钠", "氯化氢"];
        option_todayMedication.xAxis.data = data.data.date;
        option_todayMedication.yAxis.name = "KG";
        var todayPac = {
            name: "PAC",
            type: 'line',
            data: data.data.data.todayPac
        };
        var todayPamYin = {
            name: "PAM阴离子",
            type: 'line',
            data: data.data.data.todayPamYin
        };
        var todayPamYang = {
            name: "PAM阳离子",
            type: 'line',
            data: data.data.data.todayPamYang
        };
        var todayPhosphorus = {
            name: "复核除磷剂",
            type: 'line',
            data: data.data.data.todayPhosphorus
        };
        var todayNaclo = {
            name: "NaCLO",
            type: 'line',
            data: data.data.data.todayNaclo
        };
        var todayLime = {
            name: "石灰",
            type: 'line',
            data: data.data.data.todayLime
        };
        var todayGlucose = {
            name: "葡萄糖",
            type: 'line',
            data: data.data.data.todayGlucose
        };
        var todaySc = {
            name: "氯酸钠",
            type: 'line',
            data: data.data.data.todaySc
        };
        var todaySa = {
            name: "乙酸钠",
            type: 'line',
            data: data.data.data.todaySa
        };
        var todayHCL = {
            name: "氯化氢",
            type: 'line',
            data: data.data.data.todayHCL
        };

        option_todayMedication.series = [todayPac, todayPamYin, todayPamYang, todayPhosphorus, todayNaclo, todayLime, todayGlucose, todaySc, todaySa, todayHCL];
        // 使用刚指定的配置项和数据显示图表。
        myChart_todayMedication.setOption(option_todayMedication);
    }, "json");

    // 累计药量统计
    $.post("/app/chart/medicineAreaDataTotal", param, function (data) {
        var myChart_totalMedication = echarts.init(document.getElementById('totalMedication'));
        var option_totalMedication = option;
        option_totalMedication.title.text = "累计药量统计";
        option_totalMedication.legend.data = ["PAC", "PAM阴离子", "PAM阳离子", "复核除磷剂", "NaCLO", "石灰", "葡萄糖", "氯酸钠", "乙酸钠", "氯化氢"];
        option_totalMedication.xAxis.data = data.data.date;
        option_totalMedication.yAxis.name = "KG";
        var totalPac = {
            name: "PAC",
            type: 'line',
            data: data.data.data.totalPac
        };
        var totalPamYin = {
            name: "PAM阴离子",
            type: 'line',
            data: data.data.data.totalPamYin
        };
        var totalPamYang = {
            name: "PAM阳离子",
            type: 'line',
            data: data.data.data.totalPamYang
        };
        var totalPhosphorus = {
            name: "复核除磷剂",
            type: 'line',
            data: data.data.data.totalPhosphorus
        };
        var totalNaclo = {
            name: "NaCLO",
            type: 'line',
            data: data.data.data.totalNaclo
        };
        var totalLime = {
            name: "石灰",
            type: 'line',
            data: data.data.data.totalLime
        };
        var totalGlucose = {
            name: "葡萄糖",
            type: 'line',
            data: data.data.data.totalGlucose
        };
        var totalSc = {
            name: "氯酸钠",
            type: 'line',
            data: data.data.data.totalSc
        };
        var totalSa = {
            name: "乙酸钠",
            type: 'line',
            data: data.data.data.totalSa
        };
        var totalHCL = {
            name: "氯化氢",
            type: 'line',
            data: data.data.data.totalHCL
        };

        option_totalMedication.series = [totalPac, totalPamYin, totalPamYang, totalPhosphorus, totalNaclo, totalLime, totalGlucose, totalSc, totalSa, totalHCL];
        // 使用刚指定的配置项和数据显示图表。
        myChart_totalMedication.setOption(option_totalMedication);
    }, "json");

    // 水量当日统计
    $.post("/app/chart/waterYieldAreaDataToday", param, function (data) {
        var myChart_todaywaterYield = echarts.init(document.getElementById('todayWaterYield'));
        var option_todaywaterYield = option;
        option_todaywaterYield.title.text = "当日水量统计";
        option_todaywaterYield.legend.data = ["进水总量", "出水总量"];
        option_todaywaterYield.xAxis.data = data.data.date;
        option_todaywaterYield.yAxis.name = "KWH";
        var todaywaterYieldIn = {
            name: "进水总量",
            type: 'line',
            data: data.data.data.todayIn
        };
        var todaywaterYieldOut = {
            name: "出水总量",
            type: 'line',
            data: data.data.data.todayOut
        };
        option_todaywaterYield.series = [todaywaterYieldIn, todaywaterYieldOut];
        // 使用刚指定的配置项和数据显示图表。
        myChart_todaywaterYield.setOption(option_todaywaterYield);
    }, "json");

    // 水量累计统计
    $.post("/app/chart/waterYieldAreaDataTotal", param, function (data) {
        var myChart_totalWaterYield = echarts.init(document.getElementById('totalWaterYield'));
        var option_totalWaterYield = option;
        option_totalWaterYield.title.text = "当日水量统计";
        option_totalWaterYield.legend.data = ["进水总量", "出水总量"];
        option_totalWaterYield.xAxis.data = data.data.date;
        option_totalWaterYield.yAxis.name = "万吨";
        var totalWaterYieldIn = {
            name: "进水总量",
            type: 'line',
            data: data.data.data.totalIn
        };
        var totalWaterYieldOut = {
            name: "出水总量",
            type: 'line',
            data: data.data.data.totalOut
        };
        option_totalWaterYield.series = [totalWaterYieldIn, totalWaterYieldOut];
        // 使用刚指定的配置项和数据显示图表。
        myChart_totalWaterYield.setOption(option_totalWaterYield);
    }, "json");

    // 电量当日统计
    $.post("/app/chart/electricQuantityAreaDataToday", param, function (data) {
        var myChart_todayElectricity = echarts.init(document.getElementById('todayElectricity'));
        var option_todayElectricity = option;
        option_todayElectricity.title.text = "当日电耗统计";
        option_todayElectricity.legend.data = ["水厂电耗", "泵站电耗"];
        option_todayElectricity.xAxis.data = data.data.date;
        option_todayElectricity.yAxis.name = "KWH";
        var todayElectricity = {
            name: "水厂电耗",
            type: 'line',
            data: data.data.data.todayElectricity
        };
        var todayPumpEletricity = {
            name: "泵站电耗",
            type: 'line',
            data: data.data.data.todayPumpEletricity
        };
        option_todayElectricity.series = [todayElectricity, todayPumpEletricity];
        // 使用刚指定的配置项和数据显示图表。
        myChart_todayElectricity.setOption(option_todayElectricity);
    }, "json");

    // 电量累计统计
    $.post("/app/chart/electricQuantityAreaDataTotal", param, function (data) {
        var myChart_totalElectricity = echarts.init(document.getElementById('totalElectricity'));
        var option_totalElectricity = option;
        option_totalElectricity.title.text = "当日电耗统计";
        option_totalElectricity.legend.data = ["水厂电耗", "泵站电耗"];
        option_totalElectricity.xAxis.data = data.data.date;
        option_totalElectricity.yAxis.name = "KWH";
        var totalElectricity = {
            name: "水厂电耗",
            type: 'line',
            data: data.data.data.totalElectricity
        };
        var totalPumpEletricity = {
            name: "泵站电耗",
            type: 'line',
            data: data.data.data.totalPumpEletricity
        };
        option_totalElectricity.series = [totalElectricity, totalPumpEletricity];
        // 使用刚指定的配置项和数据显示图表。
        myChart_totalElectricity.setOption(option_totalElectricity);
    }, "json");

    //污泥当日统计分析
    $.post("/app/chart/sludgeChartToday", param, function (data) {
        var myChart_todayMud = echarts.init(document.getElementById('todayMud'));
        var option_todayMud = option;
        option_todayMud.title.text = "当日污泥统计";
        option_todayMud.legend.data = ["污泥日产量", "绝干污泥量"];
        option_todayMud.xAxis.data = data.data.date;
        option_todayMud.yAxis.name = "吨";
        var todayMud = {
            name: "污泥日产量",
            type: 'line',
            data: data.data.data.todayMud
        };
        var dryMud = {
            name: "绝干污泥量",
            type: 'line',
            data: data.data.data.dryMud
        };
        option_todayMud.series = [todayMud, dryMud];
        // 使用刚指定的配置项和数据显示图表。
        myChart_todayMud.setOption(option_todayMud);
    }, "json");

    // 污泥累计统计分析
    $.post("/app/chart/sludgeChartDataTotal", param, function (data) {
        var myChart_totalMud = echarts.init(document.getElementById('totalMud'));
        var option_totalMud = option;
        option_totalMud.title.text = "累计污泥统计";
        option_totalMud.legend.data = ["污泥累计量", "绝干污泥量"];
        option_totalMud.xAxis.data = data.data.date;
        option_totalMud.yAxis.name = "吨";
        var totalMud = {
            name: "污泥累计量",
            type: 'line',
            data: data.data.data.totalMud
        };
        var dryMudTotal = {
            name: "绝干污泥量",
            type: 'line',
            data: data.data.data.dryMudTotal
        };
        option_totalMud.series = [totalMud, dryMudTotal];
        $("#totalMud").css("width", "100%");
        // 使用刚指定的配置项和数据显示图表。
        myChart_totalMud.setOption(option_totalMud);
    }, "json");
}
</script>
</html>