<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=ideal viewport, initial-scale=1 user-scalable=0" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link rel="stylesheet" th:href="${'/webapp/css/font-awesome.css?v='+@toolsUtils.version()}" />
<link rel="stylesheet" th:href="${'/webapp/css/com.css?v='+@toolsUtils.version()}" />
<link rel="stylesheet" th:href="${'/webapp/css/style.css?v='+@toolsUtils.version()}" />
<script th:src="${'/webapp/js/jquery.min.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/pace.min.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/jquery.cookie.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/plugin/layer_mobile/layer.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/plugin/sparkline/jquery.sparkline.min.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/common.js?v='+@toolsUtils.version()}"></script>

<script th:src="${'/webapp/js/jquery.event.drag-1.5.min.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/jquery.touchSlider.js?v='+@toolsUtils.version()}"></script>
<script th:src="${'/webapp/js/jQuery.textSlider.js?v='+@toolsUtils.version()}"></script>

<style type="text/css">
* {
	font-family: "微软雅黑";
}

.main {
	background: #F9F9F7 url('/webapp/image/home_bg.png') no-repeat center top;
	background-size: 100% auto;
}

.ibox {
	border: 1px #1590ee solid;
}

.ibox .ibox-title {
	margin-top: 1.5vh;
}

.ibox .ibox-title .tips {
	text-align: right;
	padding-right: 3%;
}

.table_edicine div {
	padding: 0 !important;
}

.table_edicine .meiyihang_title {
	background: #4d9dd0;
	height: 5vh;
	line-height: 5vh;
}

.table_edicine .meiyihang_content div div {
	height: 5vh;
	line-height: 5vh;
}

.table_edicine .meiyihang_content .youbeijing {
	background: #f1f8fe
}

.danhang div div {
	padding: 0 !important;
	line-height: 4vh;
}
</style>