<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=ideal viewport, initial-scale=1 user-scalable=0"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>全国各区域水质分析</title>
    <link rel="stylesheet" th:href="${'/webapp/css/font-awesome.css?v='+@toolsUtils.version()}">
    <link rel="stylesheet" th:href="${'/webapp/css/com.css?v='+@toolsUtils.version()}">
    <link rel="stylesheet" th:href="${'/webapp/css/style.css?v='+@toolsUtils.version()}">
    <script th:src="${'/webapp/js/jquery.min.js?v='+@toolsUtils.version()}"></script>
    <script th:src="${'/webapp/js/pace.min.js?v='+@toolsUtils.version()}"></script>
    <script th:src="${'/webapp/js/plugin/layer_mobile/layer.js?v='+@toolsUtils.version()}"></script>
    <script th:src="${'/webapp/js/common.js?v='+@toolsUtils.version()}"></script>
    <script th:src="${'/webapp/js/jdate.js?v='+@toolsUtils.version()}"></script>
    <script th:src="${'/webapp/js/dateUtil.js?v='+@toolsUtils.version()}"></script>
</head>
<body>
<div class="main">
    <div class="map">
        <div class="line-row">
            <div class="line-cel go-back" onclick="goBack();"><i class="fa fa-chevron-left"></i></div>
            <div class="date line-cel"><span id="date">2020.03.23</span><i class="fa fa-calendar-check-o"></i></div>
            <div class="line-cel" th:each="item:${areaTypes}" th:onclick="companys([[${item.key}]]);" th:text="${item.value}"></div>
        </div>
        <div id="beijing" class="item" onclick="companys('beijing');">北京</div>
        <div id="qingdao" class="item" onclick="companys('qingdao');">青岛</div>
        <div id="ankang" class="item" onclick="companys('ankang');">安康</div>
        <div id="anhui" class="item" onclick="companys('anhui');">安徽</div>
        <div id="sichuang" class="item" onclick="companys('sichuang');">四川</div>
        <div id="ezhou" class="item" onclick="companys('ezhou');">鄂州</div>
        <div id="huadong" class="item" onclick="companys('huadong');">华东</div>
        <div id="guizhou" class="item" onclick="companys('guizhou');">贵州</div>
        <div id="fujian" class="item" onclick="companys('fujian');">福建</div>
        <div id="dali" class="item" onclick="companys('dali');">大理</div>
        <div id="guangxi" class="item" onclick="companys('guangxi');">广西</div>
    </div>
    <div class="content center font-size-14">
        <table class="cross-color">
            <thead class="bg-color1 color-3" id="water_works">
            <tr>
                <th style="width: 30%;">
                    项目
                </th>
                <th>
                   在线数据
                </th>
                <th>
                   进水
                </th>
                <th>
                    出水
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script th:inline="javascript">
    var dateTime=getCurDate("yyyy-MM-dd");
    var areaTypes=[[${areaTypes}]];
    $(function () {
        // 日期格式
        new Jdate({
            el: '#date',
            format: 'YYYY-MM-DD',
            beginYear: 2000,
            endYear: 2100,
            value: dateTime,
            confirm: function(date) {
                loadData(date);
            }
        });
        loadData(dateTime);
        var map_height=$(".map").outerHeight();
        //滚动条事件
        $('.main').scroll(function(){
            var top_height = $(this).scrollTop();
            var $this=$("#water_works");
            if(top_height+$this.outerHeight()>map_height){
                if(!$this.hasClass("top")){
                    var width_1=$this.next("tbody").find("tr:eq(0) th").outerWidth();
                    var width_2=$this.next("tbody").find("tr:eq(0) td:eq(0)").outerWidth();
                    var width_3=$this.next("tbody").find("tr:eq(0) td:eq(1)").outerWidth();
                    var width_4=$this.next("tbody").find("tr:eq(0) td:eq(2)").outerWidth();
                    $this.find("th").eq(0).width(width_1);
                    $this.find("th").eq(1).width(width_2);
                    $this.find("th").eq(2).width(width_3);
                    $this.find("th").eq(3).width(width_4);
                    $this.next("tbody").find("tr:eq(0) th").width(width_1);
                    $this.next("tbody").find("tr:eq(0) td:eq(0)").width(width_2);
                    $this.next("tbody").find("tr:eq(0) td:eq(1)").width(width_3);
                    $this.next("tbody").find("tr:eq(0) td:eq(2)").width(width_4);
                    $this.addClass("top");
                }
            }else{
                if($this.hasClass("top")){
                    $this.removeClass("top");
                }
            }
        });
    });
    function loadData(date){
        $("#water_works").nextAll("tbody").remove();
        req('/app/waterQualityAreaData',{date:date},function(result){
            if(result.code=="0"){
                var waterWorks=result.data;
                $.each(waterWorks,function(index,item){
                    var html='';
                    //污水厂/排水厂
                    if(item.factoryType=="1"){
                        html='<tbody class="cross-color">\n' +
                            '                <tr>\n' +
                            '                    <th class="left" rowspan="8">'+item.orgName+'</th>\n' +
                            '                    <td class="left">COD(Mg/L)</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-2">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.codIn!=null)?item.params.badWaterQualityInfo.codIn:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.codOut!=null)?item.params.badWaterQualityInfo.codOut:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">NH3-N(Mg/L)</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-2">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.nh3NIn!=null)?item.params.badWaterQualityInfo.nh3NIn:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.nh3NOut!=null)?item.params.badWaterQualityInfo.nh3NOut:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">SS(Mg/L)</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-2">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.ssIn!=null)?item.params.badWaterQualityInfo.ssIn:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.ssOut!=null)?item.params.badWaterQualityInfo.ssOut:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">PH值</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-2">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.phIn!=null)?item.params.badWaterQualityInfo.phIn:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.phOut!=null)?item.params.badWaterQualityInfo.phOut:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">TP(Mg/L)</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-2">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.tpIn!=null)?item.params.badWaterQualityInfo.tpIn:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.tpOut!=null)?item.params.badWaterQualityInfo.tpOut:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">TN(Mg/L)</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-2">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.tnIn!=null)?item.params.badWaterQualityInfo.tnIn:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.tnOut!=null)?item.params.badWaterQualityInfo.tnOut:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">MLSS(Mg/L)</td>\n' +
                            '                    <td colspan="2">\n' +
                            '                        <span class="color-2">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.mlssIn!=null)?item.params.badWaterQualityInfo.mlssIn:"")+'</span>\n' +
                            '                    </td>\n' +
                           /* '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.mlssOut!=null)?item.params.badWaterQualityInfo.mlssOut:"")+'</span>\n' +
                            '                    </td>\n' +*/
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">SV30</td>\n' +
                            '                    <td colspan="2">\n' +
                            '                        <span class="color-2">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.sv30In!=null)?item.params.badWaterQualityInfo.sv30In:"")+'</span>\n' +
                            '                    </td>\n' +
                            /*'                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.badWaterQualityInfo!=null && item.params.badWaterQualityInfo.sv30Out!=null)?item.params.badWaterQualityInfo.sv30Out:"")+'</span>\n' +
                            '                    </td>\n' +*/
                            '                </tr>\n' +
                            '            </tbody>';
                    }
                    //自来水厂/给水厂
                    else if(item.factoryType=="2"){
                        html='<tbody class="cross-color">\n' +
                            '                <tr>\n' +
                            '                    <th class="left" rowspan="4">'+item.orgName+'</th>\n' +
                            '                    <td class="left">PH值</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-2">'+((item.params.goodWaterHealthInfo!=null && item.params.goodWaterHealthInfo.phIn!=null)?item.params.goodWaterHealthInfo.phIn:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.goodWaterHealthInfo!=null && item.params.goodWaterHealthInfo.phOut!=null)?item.params.goodWaterHealthInfo.phOut:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">浊度(NTU)</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-2">'+((item.params.goodWaterHealthInfo!=null && item.params.goodWaterHealthInfo.ntuIn!=null)?item.params.goodWaterHealthInfo.ntuIn:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.goodWaterHealthInfo!=null && item.params.goodWaterHealthInfo.ntuOut!=null)?item.params.goodWaterHealthInfo.ntuOut:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">CLO2(Mg/L)</td>\n' +
                            '                    <td>\\</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.goodWaterHealthInfo!=null && item.params.goodWaterHealthInfo.col2Out!=null)?item.params.goodWaterHealthInfo.col2Out:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td class="left">细菌总数(CFU/mL)</td>\n' +
                            '                    <td>\\</td>\n' +
                            '                    <td>\n' +
                            '                        <span class="color-1">'+((item.params.goodWaterHealthInfo!=null && item.params.goodWaterHealthInfo.germOut!=null)?item.params.goodWaterHealthInfo.germOut:"")+'</span>\n' +
                            '                    </td>\n' +
                            '                </tr>\n' +
                            '            </tbody>';
                    }
                    $("#water_works").after(html);
                });
            }
        });
    }

    function companys(type){
        if(areaTypes.hasOwnProperty(type)){
            window.location.href='/app/waterQualityCompanys/'+type;
        }else{
            layer.open({
                content: "对不起，该区域您没有查看权限！",
                btn: '知道了'
            });
        }
    }
</script>
</body>
</html>