<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.system.mapper.SysUserRoleMapper">
	<insert id="insert">
		insert into sys_user_role(
		<if test="userId != null">user_id,</if>
		<if test="orgId != null">org_id,</if>
		<if test="roleId != null">role_id,</if>
		)values(
		<if test="userId != null">#{userId},</if>
		<if test="orgId != null">#{orgId},</if>
		<if test="roleId != null">#{roleId},</if>
		)
	</insert>
	<insert id="batch">
		insert into sys_user_role(user_id,org_id,role_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.userId},#{item.orgId},#{item.roleId})
		</foreach>
	</insert>
	<resultMap type="SysUserRole" id="SysUserRoleResult">
		<result property="userId" column="user_id"/>
		<result property="orgId" column="org_id"/>
		<result property="roleId" column="role_id"/>
	</resultMap>

	<sql id="where">
		<where>
			<if test="userId != null and userId != ''">
				and t.user_id=#{userId}
			</if>
			<if test="orgId != null and orgId != ''">
				and t.org_id=#{orgId}
			</if>
			<if test="roleId != null and roleId != ''">
				and t.role_id=#{roleId}
			</if>
		</where>
	</sql>
	
	<select id="findList" parameterType="SysUserRole" resultMap="SysUserRoleResult">
	    select t.* from sys_user_role t
		<include refid="where"/>
	</select>

	<delete id="delete" parameterType="SysUserRole">
		delete t from sys_user_role t
		<include refid="where"/>
	</delete>
	<delete id="deleteByUserIds" parameterType="String">
		<if test="userIds!=null">
			delete t from sys_user_role t where t.user_id in
			<foreach collection="userIds" item="userId" open="(" separator="," close=")">
				#{userId}
			</foreach>
		</if>
	</delete>
</mapper> 