<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.report.mapper.TestBadWaterInfoMapper">
	<resultMap type="TestBadWaterInfo" id="resultMapping">
		<result property="id" column="id" />
		<result property="fillDate" column="fill_date" />
		<result property="fillTime" column="fill_time" />

		<result property="phIn" column="ph_in" />
		<result property="phOut" column="ph_out" />

		<result property="adanIn" column="adan_in" />
		<result property="adanOut" column="adan_out" />

		<result property="zdanIn" column="zdan_in" />
		<result property="zdanOut" column="zdan_out" />

		<result property="zlinIn" column="zlin_in" />
		<result property="zlinOut" column="zlin_out" />

		<result property="codIn" column="cod_in" />
		<result property="codOut" column="cod_out" />

		<result property="bod5In" column="bod5_in" />
		<result property="bod5Out" column="bod5_out" />

		<result property="xfuIn" column="xfu_in" />
		<result property="xfuOut" column="xfu_out" />

		<result property="tempIn" column="temp_in" />
		<result property="tempOut" column="temp_out" />

		<result property="fengJun" column="feng_jun" />
		<result property="sv30" column="sv30" />
		<result property="svt" column="svt" />
		<result property="mlss" column="mlss" />
		<result property="mlvss" column="mlvss" />
		<result property="testDo" column="test_do" />
		<result property="waterSludge" column="water_sludge" />

		<result property="factoryId" column="factory_id" />
		<result property="areaId" column="area_id" />
		<result property="fillUserId" column="fill_user_id" />
		<result property="fillUserName" column="fill_user_name" />
		<result property="effectIcon" column="effect_icon" />
	</resultMap>

	<insert id="insert" parameterType="TestBadWaterInfo">
		<selectKey keyProperty="id" resultType="String"
			order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into r_test_bad_water_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null ">id,</if>
			fill_date,
			fill_time,
			<if test="phIn != null ">ph_in,</if>
			<if test="phOut != null ">ph_out,</if>

			<if test="adanIn != null ">adan_in,</if>
			<if test="adanOut != null ">adan_out,</if>

			<if test="zdanIn != null ">zdan_in,</if>
			<if test="zdanOut != null ">zdan_out,</if>

			<if test="zlinIn != null ">zlin_in,</if>
			<if test="zlinOut != null ">zlin_out,</if>

			<if test="codIn != null ">cod_in,</if>
			<if test="codOut != null ">cod_out,</if>

			<if test="bod5In != null ">bod5_in,</if>
			<if test="bod5Out != null ">bod5_out,</if>

			<if test="xfuIn != null ">xfu_in,</if>
			<if test="xfuOut != null ">xfu_out,</if>

			<if test="tempIn != null ">temp_in,</if>
			<if test="tempOut != null ">temp_out,</if>

			<if test="fengJun != null ">feng_jun,</if>
			<if test="sv30 != null ">sv30,</if>
			<if test="svt != null ">svt,</if>
			<if test="mlss != null ">mlss,</if>
			<if test="mlvss != null ">mlvss,</if>
			<if test="testDo != null ">test_do,</if>
			<if test="waterSludge != null ">water_sludge,</if>

			<if test="factoryId != null ">factory_id,</if>
			<if test="areaId != null ">area_id,</if>
			<if test="fillUserId != null ">fill_user_id,</if>
			<if test="fillUserName != null ">fill_user_name,</if>
			effect_icon
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null ">#{id},</if>
			CURDATE(),
			NOW(),
			<if test="phIn != null ">#{phIn},</if>
			<if test="phOut != null ">#{phOut},</if>

			<if test="adanIn != null ">#{adanIn},</if>
			<if test="adanOut != null ">#{adanOut},</if>

			<if test="zdanIn != null ">#{zdanIn},</if>
			<if test="zdanOut != null ">#{zdanOut},</if>

			<if test="zlinIn != null ">#{zlinIn},</if>
			<if test="zlinOut != null ">#{zlinOut},</if>

			<if test="codIn != null ">#{codIn},</if>
			<if test="codOut != null ">#{codOut},</if>

			<if test="bod5In != null ">#{bod5In},</if>
			<if test="bod5Out != null ">#{bod5Out},</if>

			<if test="xfuIn != null ">#{xfuIn},</if>
			<if test="xfuOut != null ">#{xfuOut},</if>

			<if test="tempIn != null ">#{tempIn},</if>
			<if test="tempOut != null ">#{tempOut},</if>

			<if test="fengJun != null ">#{fengJun},</if>
			<if test="sv30 != null ">#{sv30},</if>
			<if test="svt != null ">#{svt},</if>
			<if test="mlss != null ">#{mlss},</if>
			<if test="mlvss != null ">#{mlvss},</if>
			<if test="testDo != null ">#{testDo},</if>
			<if test="waterSludge != null ">#{waterSludge},</if>

			<if test="factoryId != null ">#{factoryId},</if>
			<if test="areaId != null ">#{areaId},</if>
			<if test="fillUserId != null ">#{fillUserId},</if>
			<if test="fillUserName != null ">#{fillUserName},</if>
			'1'
		</trim>
	</insert>

	<update id="update" parameterType="TestBadWaterInfo">
		update r_test_bad_water_info
		<trim prefix="SET" suffixOverrides=",">
			<if test="phIn != null ">ph_in = #{phIn},</if>
			<if test="phOut != null ">ph_out = #{phOut},</if>

			<if test="adanIn != null ">adan_in = #{adanIn},</if>
			<if test="adanOut != null ">adan_out = #{adanOut},</if>

			<if test="zdanIn != null ">zdan_in = #{zdanIn},</if>
			<if test="zdanOut != null ">zdan_out = #{zdanOut},</if>

			<if test="zlinIn != null ">zlin_in = #{zlinIn},</if>
			<if test="zlinOut != null ">zlin_out = #{zlinOut},</if>

			<if test="codIn != null ">cod_in = #{codIn},</if>
			<if test="codOut != null ">cod_out = #{codOut},</if>

			<if test="bod5In != null ">bod5_in = #{bod5In},</if>
			<if test="bod5Out != null ">bod5_out = #{bod5Out},</if>

			<if test="xfuIn != null ">xfu_in = #{xfuIn},</if>
			<if test="xfuOut != null ">xfu_out = #{xfuOut},</if>

			<if test="tempIn != null ">temp_in = #{tempIn},</if>
			<if test="tempOut != null ">temp_out = #{tempOut},</if>

			<if test="fengJun != null ">feng_jun = #{fengJun},</if>
			<if test="sv30 != null ">sv30 = #{sv30},</if>
			<if test="svt != null ">svt = #{svt},</if>
			<if test="mlss != null ">mlss = #{mlss},</if>
			<if test="mlvss != null ">MLSS = #{mlvss},</if>
			<if test="testDo != null ">test_do = #{testDo},</if>
			<if test="waterSludge != null ">water_sludge = #{waterSludge},</if>

			<if test="effectIcon != null ">effect_icon = #{effectIcon},</if>
		</trim>
		where id = #{id}
	</update>

	<sql id="where">
		<where>
			<if test="id!=null  and id != ''">
				and t.id=#{id}
			</if>
			<if test="fillDate != null  and fillDate != ''">
				and t.fill_date = #{fillDate}
			</if>
			<if test="factoryId != null  and factoryId != ''">
				and t.factory_id = #{factoryId}
			</if>
			<if test="areaId != null  and areaId != ''">
				and t.area_id = #{areaId}
			</if>
			<if test="fillUserId != null  and fillUserId != ''">
				and t.fill_user_id = #{fillUserId}
			</if>
			<if test="effectIcon != null  and effectIcon != ''">
				and t.effect_icon = #{effectIcon}
			</if>
			<if test="params.ids!=null">
				and t.id in
				<foreach collection="params.ids" item="id" open="("
					separator="," close=")">
					#{id}
				</foreach>
			</if>
			<if test="params.areaIds != null and params.areaIds != ''">
                and FIND_IN_SET(t.area_id,'${params.areaIds}')
            </if>
			<!-- 数据范围过滤 -->
			${params.dataScope}
		</where>
	</sql>

	<delete id="delete" parameterType="TestBadWaterInfo">
		delete t from r_test_bad_water_info t
		<include refid="where" />
	</delete>

	<select id="getCount" parameterType="TestBadWaterInfo"
		resultType="int">
		select count(*) from r_test_bad_water_info t
		<include refid="where" />
	</select>

	<sql id="select">
		select t.* from r_test_bad_water_info t
	</sql>

	<select id="getEntity" parameterType="TestBadWaterInfo"
		resultMap="resultMapping">
		<include refid="select" />
		<include refid="where" />
		LIMIT 1
	</select>

	<select id="getList" parameterType="TestBadWaterInfo"
		resultMap="resultMapping">
		<include refid="select" />
		<include refid="where" />
		order by t.fill_date desc
	</select>
</mapper>